<footer>
	<main class="light-text">
		<nav>
			<a href="/docs/hellonode/">Get Started</a>
			<a href="/docs/">Documentation</a>
			<a href="http://blog.kubernetes.io/">Blog</a>
			<a href="/community/">Community</a>
		</nav>
		<div class="social">
			<div>
				<a href="https://twitter.com/contiv" class="twitter"><span>twitter</span></a>
				<a href="https://github.com/contiv" class="github"><span>Github</span></a>
				<a href="http://contiv.slack.io/" class="slack"><span>Slack</span></a>
				<a href="http://stackoverflow.com/questions/tagged/contiv" class="stack-overflow"><span>Stack Overflow</span></a>
			</div>
		</div>
		<div id="miceType" class="center">&copy; {{ 'now' | date: "%Y" }} Contiv</div>
	</main>
</footer>
