$theme_base_color: #71e333
$light-grey: #f7f7f7
$dark-grey: #303030
$medium-grey: #4c4c4c
$black: #000000
$white: #ffffff
$red: #e33371

$base-font: 'Roboto', sans-serif
$mono-font: 'Roboto Mono', monospace


*, .button
	box-sizing: border-box
	font-family: $base-font
	background: none
	margin: 0
	border: 0

body
	font-family: $base-font

h1, h2, h5, p
	font-weight: 300

h3, h4
	font-weight: 400
